* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #15191B;
}

.select-search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.search-container {
    max-width: 460px;
    width: 100%;
    margin-top: 20px;
}



/* .active {
    color: blue;
    border: 1px solid black;
    border-bottom: 0;
} */

.active {
    color: black;
    border-bottom: 0;
}

.tab-slider-default {
    position: relative;
    background-color: white;
    margin-top: 5px;
    height: 50px;
    width: 200px;
    left: -115px;
    border-radius: 240px;
    z-index: -1;
}

/*https://www.w3schools.com/cssref/atrule_keyframes.php*/
.tab-slider-one {
    position: relative;
    background-color: white;
    margin-top: 5px;
    height: 50px;
    border-radius: 240px;
    z-index: -1;
    animation: moveLeft 300ms;
    animation-fill-mode: forwards;
}
@keyframes moveLeft {
    from {
        left: 90px;
        width: 210px;
    }
    to {
        left: -115px;
        width: 200px;
    }
}
.tab-slider-two {
    position: relative;
    background-color: white;
    margin-top: 5px;
    height: 50px;
    border-radius: 240px;
    z-index: -1;
    animation: moveRight 300ms;
    animation-fill-mode: forwards;
}
@keyframes moveRight {
    from {
        left: -115px;
        width: 200px;
    }
    to {
        left: 90px;
        width: 210px;
    }
}

.element-fade {
    opacity: 100;
    animation: fadeOut 200ms forwards, fadeIn 200ms 200ms forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.tab-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.algorithm-info {
    margin-bottom: 25px;
}
.algorithm-title {
    font-style: italic;
    font-size: 14px;
    padding-bottom: 1%;
}
.algorithm-desc {
    font-size: 12px;
}

h2 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    z-index: 1;
}

input {
    width: 100%;
}
textarea {
    width: 100%;
    resize: none;
}

select {
    width: 100%;
}

.input-container {
    padding: 20px;
    border: 1px solid black;
    height: 300px;
    overflow: auto;
    border-radius: 30px;
    background-color: white;
}

/* scrollbar animations https://www.youtube.com/watch?v=lvKK2fs6h4I */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    margin-block: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}
/* .submit-btn {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
} */
.submit-btn {
    background-color: rgb(0, 128, 255);
    color: white;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 78, 156);  
}

.date-range-container {
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
}

.tag-container {
    width: 100%;
    display: flex;
    font-size: 12px;
}

.left-col {
    font-weight: 600;
    margin-bottom: 35px;
}
.right-col {
    display: flex;
    margin-bottom: 35px;
}

.left-col-tag-search {
    font-weight: 600;
    margin-bottom: 20px;
}
.right-col-tag-search {
    display: flex;
    margin-bottom: 20px;
}

.tag-container {
    border: 1px solid gray;
    padding-bottom: 0.1px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
}
.tag-input {
    outline: none;
    border: none;
}

.added-tag {
    display: flex;
    font-size: 13px;
    padding-left: 5px;
    color: white;
    background-color: red;
    margin: 1px;
    border-radius: 2px;

}
.delete-tag-btn {
    background-color: red;
    border: none;
    font-size: 8px;
    margin-top: 3px;
    padding: 0px 5px 0px 5px;
    color: white;
}

.delete-tag-btn:hover {
    cursor: pointer;
}

.tag-section-invisible {
    display: none;
}